:root {
  --backgroundColor: rgb(47, 58, 78);
  --backgroundColorLight: rgb(94, 110, 139);
  --bodyColor: rgb(145, 163, 197);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1 {
  color: white;
}

p,
li {
  font-size: 20px;
  color: white;
}

body {
  font-family: Helvetica, sans-serif;
  height: 100vh;
  background-color: var(--bodyColor);
}

.content {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10% 1fr;
}

.headerContainer {
  grid-row: 1 / 2;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: var(--backgroundColor);
}

.headerTitle {
  padding: 1rem;
}

.headerList {
  height: 100%;
  list-style: none;

  display: flex;
  gap: 50px;

  padding: 0 1rem;
}

.headerItems {
  height: 100%;

  display: flex;
  align-items: center;

  border-bottom: 4px solid transparent;
}

.headerItems:hover {
  cursor: pointer;
  border-bottom: 4px solid white;
}

.dropdownSection {
  grid-row: 2 / 3;
  display: flex;
}

.dropdownContainer {
  position: relative;
  width: 400px;
  padding: 1em;
}

.dropdownTitle {
  background-color: var(--backgroundColor);
  padding: 1em;
  cursor: pointer;
  border-radius: 0.5em;
}

.dropdownTitle:hover {
  background-color: var(--backgroundColorLight);
}

.dropdownTitleClicked {
  border: 2px solid rgb(27, 255, 46);
}

.list {
  position: absolute;
  z-index: 1;
  top: 90px;
  width: calc(100% - 2em);

  background-color: var(--backgroundColorLight);
  list-style: none;

  padding: 1em;
  border-radius: 0.5em;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.listItems {
  cursor: pointer;
  padding: 0.5em 0.2em;

  border-radius: 0.5em;
}

.listItems:hover {
  background-color: var(--backgroundColor);
}

.listHidden {
  display: none;
}
