:root {
  --backgroundColor: rgb(64, 83, 117);
  --backgroundColorLight: rgb(103, 132, 170);
  --bodyColor: rgb(235, 227, 206);
  --lightgrey: rgb(214, 214, 214);
  --grey: rgb(146, 146, 146);
  --darkgrey: rgb(83, 83, 83);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1 {
  color: white;
}

p,
li {
  font-size: 20px;
  color: white;
}

body {
  font-family: Helvetica, sans-serif;
  height: 100vh;
  background-color: var(--bodyColor);
}

.content {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10% 1fr 4fr;
}

/* Header section */
.headerContainer {
  grid-row: 1 / 2;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: var(--backgroundColor);
}

.headerTitle {
  padding: 1rem;
}

.headerList {
  height: 100%;
  list-style: none;

  display: flex;
  gap: 50px;

  padding: 0 1rem;
}

.headerItems {
  height: 100%;

  display: flex;
  align-items: center;

  border-bottom: 4px solid transparent;
}

.headerItems:hover {
  cursor: pointer;
  border-bottom: 4px solid white;
}

/* Dropdown Menu section */
.dropdownSection {
  grid-row: 2 / 3;
  display: flex;
}

.dropdownContainer {
  position: relative;
  width: 400px;
  padding: 1em;
}

.dropdownTitle {
  background-color: var(--backgroundColor);
  padding: 1em;
  cursor: pointer;
  border-radius: 0.5em;
}

.dropdownTitle:hover {
  background-color: var(--backgroundColorLight);
}

.dropdownTitleClicked {
  border: 2px solid rgb(46, 219, 60);
}

.list {
  position: absolute;
  z-index: 1;
  top: 90px;
  width: calc(100% - 2em);

  background-color: var(--backgroundColorLight);
  list-style: none;

  padding: 1em;
  border-radius: 0.5em;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.listItems {
  cursor: pointer;
  padding: 0.5em 0.2em;

  border-radius: 0.5em;
}

.listItems:hover {
  background-color: var(--backgroundColor);
}

.listHidden {
  display: none;
}

/* Image carousell section */
.imageCarousellSection {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageCarousellContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.imageContainer {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  background-color: white;
  border: 2px solid var(--backgroundColor);
  border-radius: 1rem;

  transition: transform 0.5s ease-in-out;
}

.btnNext,
.btnPrevious {
  height: 100px;
}

.btnNext:hover,
.btnPrevious:hover {
  cursor: pointer;
}

.navigationContainer {
  align-self: start;
  grid-column: 2 / 3;

  display: flex;
  gap: 10px;

  margin: 40px;
  padding: 20px;

  border-radius: 2rem;
  background-color: var(--lightgrey);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.navDot {
  width: 15px;
  height: 15px;
  background-color: var(--grey);
  border-radius: 50%;
}

.activeNavDot {
  background-color: var(--darkgrey);
}
